@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background: #1f1f1f;
}
::-webkit-scrollbar{
    background-color: #1f1f1f;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color:  #AA00FA;
    border-radius: 50px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
    background: white
}

  